.login-container{
    margin-top: 5%;
    margin-bottom: 5%;
   
}
.login-logo{
    position: relative;
    margin-left: -41.5%;
}
.container {
    display: flex;
    justify-content: center;
  }
  .center {
    width: 800px;
  }
.login-logo img{
    position: absolute;
    width: 20%;
    margin-top: 19%;
    background: tomato;
    border-radius: 4.5rem;
    padding: 5%;
}
.login-form-1{
    padding: 9%;
   
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-1 h3{
    text-align: center;
    margin-bottom:12%;
    color: black;
}
.login-form-2{
    padding: 9%;
    background: #f05837;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
input.ng-invalid.ng-touched{
    border-left: #f05837 3px solid;
}
input.ng-valid.ng-touched{
    border-left:green 3px solid;
}
.Error{
    border-left: #f05837 3px solid;
}